$accent-color: #d41443;
$main-color: #ffffff;
$second-color: #fff5f6;
$hero-bg-color: #ffb8ca;
$main-text-color: #000000;
$alternate-text-color: #907e82;
$lighten-text-color: #ffffff;
$section-title-color: #d41443;
$section-subtitle-color: #ffa5ba;
$social-bg-color: #fea5bb;

$product-card-1: #ffb8ca;
$product-card-2: #F0D1A5;
$product-card-3: #C2E297;;
