$accent-color: #d41443;
$main-color: #ffffff;
$second-color: #fff5f6;
$hero-bg-color: #ffb8ca;
$main-text-color: #000000;
$alternate-text-color: #907e82;
$lighten-text-color: #ffffff;
$section-title-color: #d41443;
$section-label-color: #ffa5ba;
$social-bg-color: #fea5bb;
$contacts-bg-coor: #fff5f6;
$product-card-1-color: #ffb8ca;
$product-card-2-color: #f0d1a5;
$product-card-3-color: #c2e297;
