<section class="section section-about">
    <div class="container">
        <p class="section__lable">tradition and love</p>
            <h2 class="section__title">how it’s made?</h2>
                <div class="description">
                    <p class="description__text description__text--color">Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus lorem eget, egestas eros.
                    Maecenas eleifend erat at justo fringilla.</p>
                    <p class="description__text">Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci in imperdiet placerat.
                    Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh, tincidunt.</p>
                    <p class="description__text">Aliquam erat volutpat. Aenean accumsan.</p>
                    <button class="button button-description">Read more<svg class="icon-description" width="4.43" height="8">
                    <use href="./images/sprite.svg#icon-biggest"></use>
                </svg>
                </button>
               </div>
  </div>

</section>