<section class="section section--about" id="about">
  <div class="section-bg">
    <img src="./images/about/milk-left1@1x.png" alt="milk" />
    <img src="./images/about/milk-right1@1x.png" alt="milk"/>
  </div>
  <div class="container">
    <p class="section__label">tradition and love</p>
    <h2 class="section__title section__title--about">how it’s made?</h2>

    <div class="about">
      <div class="about__thumb"></div>

      <div class="description">
        <p class="description__text description__text--color">
          Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus
          lorem eget, egestas eros. Maecenas eleifend erat at justo fringilla.
        </p>
        <p class="description__text">
          Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci
          in imperdiet placerat. Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna
          maximus. Cras massa nibh, tincidunt.
        </p>
        <p class="description__text">
          Aliquam erat volutpat. Aenean accumsan<span id="dots"></span
          ><span id="more">erisque enim ligula venenatis dolor. Maecenas nisl est,
             ultrices nec congue eget,
            auctor vitae massa. Fusce luctus vestibulum augue ut aliquet. Nunc sagittis dictum nisi,
            sed ullamcorper ipsum dignissim ac. In at libero sed nunc venenatis imperdiet sed ornare
            turpis. Donec vitae dui eget tellus gravida venenatis. Integer fringilla congue eros non
            fermentum. Sed dapibus pulvinar nibh tempor porta.</span
          ></p>
        <button onclick="myFunction()" id="aboutBtn" class="description__button">
          Read more<svg class="description__icon" width="4.43" height="8">
            <use href="./images/sprite.svg#icon-biggest"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
