<!-- контакты -->

<section class="section section--contacts" id="сontacts">
  <div class="container container--contacts">
    <h2 class="section__title section__title--visually-hidden">Contacts</h2>

    <ul class="contacts">
      <li class="contacts__item">
        <p class="contacts__cafe">cafe</p>
        <p class="contacts__city">chicago</p>
        <p class="contacts__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>

        <ul class="schedule">
          <li class="schedule__item schedule__item—day">Monday - Friday</li>
          <li class="schedule__item schedule__item—time">06:00 AM - 10:00 PM</li>

          <li class="schedule__item schedule__item—day">Saturday - Sunday</li>
          <li class="schedule__item schedule__item—time">08:00 AM - 16:00 PM</li>
        </ul>

        <ul class="contact">
          <li class="contact__item">
            <a class="contact__phone" href="tel:+61(0)383766284 ">+61(0) 383 766 284 </a>
          </li>
          <li class="contact__item">
            <a class="contact__mail" href="mailto:noreply@envato.com">noreply@envato.com</a>
          </li>
        </ul>
      </li>

      <li class="contacts__item">
        <p class="contacts__cafe contacts__cafe--food-truck">Food truck</p>
        <p class="contacts__city">chicago</p>
        <p class="contacts__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>

        <ul class="schedule">
          <li class="schedule__item schedule__item—day">Monday - Friday</li>
          <li class="schedule__item schedule__item—time">06:00 AM - 10:00 PM</li>

          <li class="schedule__item schedule__item—day">Saturday - Sunday</li>
          <li class="schedule__item schedule__item—time">08:00 AM - 16:00 PM</li>
        </ul>

        <ul class="contact">
          <li class="contact__item">
            <a class="contact__phone" href="tel:+61(0)383766284 ">+61(0) 383 766 284 </a>
          </li>
          <li class="contact__item">
            <a class="contact__mail" href="mailto:noreply@envato.com">noreply@envato.com</a>
          </li>
        </ul>
      </li>

      <li class="contacts__item">
        <p class="contacts__cafe">cafe</p>
        <p class="contacts__city">chicago</p>
        <p class="contacts__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>

        <ul class="schedule">
          <li class="schedule__item schedule__item—day">Monday - Friday</li>
          <li class="schedule__item schedule__item—time">06:00 AM - 10:00 PM</li>

          <li class="schedule__item schedule__item—day">Saturday - Sunday</li>
          <li class="schedule__item schedule__item—time">08:00 AM - 16:00 PM</li>
        </ul>

        <ul class="contact">
          <li class="contact__item">
            <a class="contact__phone" href="tel:+61(0)383766284 ">+61(0) 383 766 284 </a>
          </li>
          <li class="contact__item">
            <a class="contact__mail" href="mailto:noreply@envato.com">noreply@envato.com</a>
          </li>
        </ul>
      </li>
    </ul>

    <!-- кнопки -->

    <div class="contacts-btn">
      <button type="button" class="contacts-btn__location">
        our locations
        <svg class="contacts-btn__icon" width="5" height="8">
          <use href="#"></use>
        </svg>
      </button>

      <button type="button" class="contacts-btn__franchise">
        franchise
        <svg class="contacts-btn__icon contacts-btn__icon--franchise" width="5" height="8">
          <use href="#"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
