<section class="reviews">
  <div class="container reviews-container">

    <div class="wrapper">
      <input type="radio" name="point" id="slide1" checked />
      <input type="radio" name="point" id="slide2" />
      <input type="radio" name="point" id="slide3" />
      <div class="slider">
        <div class="slides slide1">
          <img class="slides__img" src="./images/reviews/testimonials1.jpg" alt="" />
          <div class="slides__content">
            <!-- <svg class="slides__icon" width="54px" height="40px">
              <use href="images/sprite.svg#icon-Ellipse-4"></use>
            </svg> -->
            <p class="slides__text">
              Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit
              nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
            </p>
          </div>
          <h2 class="slides__name">Emily, Los Angeles</h2>
        </div>
        <div class="slides slide2">
          <img class="slides__img" src="./images/reviews/testimonials2.jpg" alt="" />
          <div class="slides__content">
            <!-- <svg class="slides__icon" width="54px" height="40px">
              <use href="images/sprite.svg#icon-Ellipse-5"></use>
            </svg> -->
            <p class="slides__text">
              Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit
              nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
            </p>
          </div>
          <h2 class="slides__name">Emily, Los Angeles</h2>
        </div>
        <div class="slides slide3">
          <img class="slides__img" src="./images/reviews/testimonials1.jpg" alt="" />
          <div class="slides__content">
            <!-- <svg class="slides__icon" width="54px" height="40px">
              <use href="images/sprite.svg#icon-Ellipse-6"></use>
            </svg> -->
            <p class="slides__text">
              Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit
              nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
            </p>
          </div>
          <h2 class="slides__name">Emily, Los Angeles</h2>
        </div>
      </div>
      <div class="controls">
        <label for="slide1"></label>
        <label for="slide2"></label>
        <label for="slide3"></label>
      </div>
    </div>
    
  </div>

</section>