<section class="reviews" id="reviews">
  <div class="container reviews-container">
    <div class="slideshow-container">
      
      

        <ul class="slides mySlides">
          <li class="slides__content">

            <img class="slides__img" 
            srcset="./images/reviews/reviews1@1x.jpg 1x, ./images/reviews/reviews1@2x.jpg 2x"
            src="./images/reviews/reviews1@1x.jpg"
              alt="photo reviewrer" />
            
                <p class="slides__text">
                Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
                hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
              </p>
            
            <h2 class="slides__name">Emily, Los Angeles</h2>
          </li>

        <ul class="slides mySlides">
          <li class="slides__content">
             
              <img class="slides__img" 
                srcset="./images/reviews/reviews2@1x.jpg 1x, ./images/reviews/reviews2@2x.jpg 2x"
            src="./images/reviews/reviews2@1x.jpg"
                alt="photo reviewrer"
              />
              
              <p class="slides__text">
              Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
              hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
              </p>

              <h2 class="slides__name">Emily, Los Angeles</h2>
          </li>
          
        </ul>

        <ul class="slides mySlides">
          <li class="slides__content">

            <img class="slides__img" 
              srcset="./images/reviews/reviews3@1x.jpg 1x, ./images/reviews/reviews3@2x.jpg 2x"
            src="./images/reviews/reviews3@1x.jpg"
              alt="photo reviewrer"
            />

             <p class="slides__text">
              Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
              hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
             </p>
           
              <h2 class="slides__name">Emily, Los Angeles</h2>
          </li>
        </ul>
        
      
      <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
      <a class="next" onclick="plusSlides(1)">&#10095;</a>
      
      
      <!-- The dots/circles -->
      <div style="text-align:center">
        <span class="dot" onclick="currentSlide(1)"></span>
        <span class="dot" onclick="currentSlide(2)"></span>
        <span class="dot" onclick="currentSlide(3)"></span>
      </div>


    </div>
  </div>
</section>
