
<section class="section section--gallery" id="gallery">
    <div class="container">
        <h2 class="section__title section__title--visually-hidden">Gallery</h2>
        <div class="gallery" id="gallery">
            <div class="item-masonry position-masonry-1">
                <img 
                    src="./images/gallery/MaskGroup-9@1x.png" 
                    alt="original ice cream delivery"
                    srcset="./images/gallery/MaskGroup-9@2x.png 2x"
                />
                <div class="cover-item-gallery">
                    <a href="">
                        <i class="fa fa-search fa-2x"></i>
                    </a>
                </div>
            </div>
            <div class="position-masonry-2">
                <div class="item-masonry">
                    <img 
                        src="./images/gallery/MaskGroup@1x.png" 
                        alt="vanilla ice cream in a cone"
                        srcset="./images/gallery/MaskGroup@2x.png 2x"
                    />
                    <div class="cover-item-gallery">
                        <a href="">
                            <i class="fa fa-search fa-2x"></i>
                        </a>
                    </div>
                </div>
                <div class="item-masonry">
                    <img 
                        src="./images/gallery/MaskGroup-1@1x.png" 
                        alt="ice cream with raspberries"
                        srcset="./images/gallery/MaskGroup-1@2x.png 2x"
                    />
                    <div class="cover-item-gallery">
                        <a href="">
                            <i class="fa fa-search fa-2x"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="position-masonry-3">
                <div class="item-masonry gigant">
                    <img 
                        src="./images/gallery/MaskGroup-2@1x.png" 
                        alt="varieties of popsicles"
                        srcset="./images/gallery/MaskGroup-2@2x.png 2x"
                    />
                    <div class="cover-item-gallery">
                        <a href="">
                            <i class="fa fa-search fa-2x"></i>
                        </a>
                    </div>
                </div>
                <div class="item-masonry">
                    <img 
                        src="./images/gallery/MaskGroup-3@1x.png" 
                        alt="girl with ice cream"
                        srcset="./images/gallery/MaskGroup-3@2x.png 2x"
                    />
                    <div class="cover-item-gallery">
                        <a href="">
                            <i class="fa fa-search fa-2x"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="position-masonry-4">
                <div class="item-masonry">
                    <img 
                        src="./images/gallery/MaskGroup-4@1x.png" 
                        alt="ice cream is decorated with blueberries"
                        srcset="./images/gallery/MaskGroup-4@2x.png 2x"
                    />
                    <div class="cover-item-gallery">
                        <a href="">
                            <i class="fa fa-search fa-2x"></i>
                        </a>
                    </div>
                </div>
                <div class="item-masonry">
                    <img 
                        src="./images/gallery/MaskGroup-5@1x.png" 
                        alt="artificial ice cream decoration"
                        srcset="./images/gallery/MaskGroup-5@2x.png 2x"
                    />
                    <div class="cover-item-gallery">
                        <a href="">
                            <i class="fa fa-search fa-2x"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="position-masonry-5">
                <div class="item-masonry">
                    <img 
                        src="./images/gallery/MaskGroup-6@1x.png" 
                        alt="dog eats ice cream"
                        srcset="./images/gallery/MaskGroup-6@2x.png 2x"
                    />
                    <div class="cover-item-gallery">
                        <a href="">
                            <i class="fa fa-search fa-2x"></i>
                        </a>
                    </div>
                </div>
                <div class="item-masonry">
                    <img 
                        src="./images/gallery/MaskGroup-7@1x.png" 
                        alt="cocktail with ice cream"
                        srcset="./images/gallery/MaskGroup-7@2x.png 2x"
                    />
                    <div class="cover-item-gallery">
                        <a href="">
                            <i class="fa fa-search fa-2x"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="item-masonry position-masonry-6">
                <img 
                    src="./images/gallery/MaskGroup-8@1x.png" 
                    alt="a combination of donut ice cream and milk"
                    srcset="./images/gallery/MaskGroup-8@2x.png 2x"
                />
                <div class="cover-item-gallery">
                    <a href="">
                        <i class="fa fa-search fa-2x"></i>
                    </a>
                </div>
            </div>
    </div>
</section>
