<section class="section">
    <div class="container">
        <p class="section__suptitle">100% natural</p>
        <h2 class="section__title section__title--products">Products</h2>
        <ul class="products">
            <li class="product__item">
                <div class="product-card">
                    <h3 class="product-card__title">ice cream</h3>
                    <span class="product-card__span">...</span>
                    <p class="product-card__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. </p>
                    <button class="product-card__button"></button>
                </div>
            </li>
            <li class="product__item">
                <div class="product-card">
                    <h3 class="product-card__title">Ice Coffe</h3>
                    <span class="product-card__span">...</span>
                    <p class="product-card__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. </p>
                    <button class="product-card__button"></button>
                </div>
            </li>
            <li class="product__item">
                <div class="product-card">
                    <h3 class="product-card__title">Milkshake</h3>
                    <span class="product-card__span">...</span>
                    <p class="product-card__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. </p>
                    <button class="product-card__button"></button>
                </div>
            </li>
        </ul>
    </div>
</section>