<section class="products">
    <div class="container">
        <p class="products__suptitle">100% natural</p>
        <h2 class="products__title">Products</h2>
        <ul class="products__list">
            <li class="products__item">
                <h3 class="products__item--title">ice cream</h3>
                <span class="products__item--span">...</span>
                <p class="products__item--description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis. </p>
                <button class="products__item--button">
                    <svg class="products__item--icon"> 
                      <use href="#"></use>
                    </svg>
                </button>
            </li>
            <li class="products__item">
                <h3 class="products__item--title">ice coffee</h3>
                <span class="products__item--span">...</span>
                <p class="products__item--description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis. </p>
                <button class="products__item--button">
                    <svg class="products__item--icon"> 
                      <use href="#"></use>
                    </svg>
                </button>
            </li>
            <li class="products__item">
                <h3 class="products__item--title">milkshakes</h3>
                <span class="products__item--span">...</span>
                <p class="products__item--description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis. </p>
                <button class="products__item--button">
                    <svg class="products__item--icon"> 
                      <use href="#"></use>
                    </svg>
                </button>
            </li>
        </ul>
    </div>
</section>