<section class="section" id="products">
    <div class="container">
        <p class="section__label">100% natural</p>
        <h2 class="section__title section__title--products">Products</h2>
        <ul class="products">
            <li class="product__item">
                <div class="product-card">
                    <h3 class="product-card__title">Ice Cream</h3>
                    <p class="product-card__description icecream--description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis maxime exercitationem earum in a fugiat delectus iusto porro blanditiis nostrum>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
                    <button type="button" class="product-card__button" id="icecream"></button>
                </div>
            </li>
            <li class="product__item">
                <div class="product-card">
                    <h3 class="product-card__title">Ice Coffe</h3>
                    <p class="product-card__description icecoffe--description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis maxime exercitationem earum in a fugiat delectus iusto porro blanditiis nostrum.Lorem ipsum dolor sit amet.</p>
                    <button type="button" class="product-card__button" id="icecoffe"></button>
                </div>
            </li>
            <li class="product__item">
                <div class="product-card">
                    <h3 class="product-card__title">Milkshake</h3>
                    <p class="product-card__description milkshake--description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis maxime exercitationem earum in a fugiat delectus iusto porro blanditiis lit, sed do eiusmod tempor incididunt ut labore et</p>
                    <button type="button" class="product-card__button" id="milkshake"></button>
            </li>
        </ul>
    </div>
</section>



