.page-header {
  position: relative;
  background-color: $hero-bg-color;

  z-index: 0;
}
.container__page-header {
  position: relative;
  padding-top: 6px;
  overflow: hidden;

  @media screen and(min-width:768px) {
    padding-top: 37px;
    height: 400px;
  }
  @media screen and(min-width:1280px) {
    height: 665px;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__btn {
  border-radius: 22px;
  border: transparent;
  padding: 10px 0;
  width: 160px;
  background-color: $main-color;
  color: $accent-color;

  height: 44px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.31;
  display: flex;
  align-items: center;

  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: #ecebeb;
  }

  @media screen and(min-width:768px) and(max-width:1279px) {
    margin-left: 30px;
  }

  @media screen and(max-width:767px) {
    display: none;
  }
}
.header__navigation {
  @media screen and(max-width:1279px) {
    display: none;
  }
}
.site-nav {
  @media screen and(min-width:1280px) {
    display: flex;
  }
}
.site-nav__item {
  @media screen and(max-width:1279px) {
    display: block;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 20px;
    border-top: 1px solid #e18298;
    border-bottom: 1px solid #e18298;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.29;
    align-items: center;
  }

  @media screen and(min-width:768px) and(max-width:1279px) {
    padding-left: 24px;
  }
  @media screen and(min-width:1280px) {
    margin-right: 35px;

    &:last-child {
      margin-right: 0px;
    }
  }
}
.site-nav__link {
  color: $lighten-text-color;
  transform: scale(1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .site-nav__item:hover &,
  .site-nav__item:focus & {
    color: $accent-color;
    transform: scale(1.1);
  }
}
@media screen and(min-width:1280px) {
  .site-nav__link {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.31;
  }
}

.hero {
  margin-top: 137px;

  @media screen and(min-width:768px) {
    margin-top: 15px;
  }
  @media screen and(min-width:1280px) {
    margin-top: 81px;
  }
}
.hero__title {
  font-family: Titan One;
  font-size: 26px;
  line-height: 1.15;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: $lighten-text-color;
  margin-bottom: 19px;

  @media screen and(min-width:768px) {
    font-size: 22px;
    line-height: 1.14;
    margin-bottom: 20px;
  }
  @media screen and(min-width:1279px) {
    font-size: 38px;
    line-height: 1.16;
    margin-bottom: 25px;
  }
}
.hero__title--dedicated {
  font-size: 48px;
  line-height: 0.96;
  color: $accent-color;
  @media screen and(min-width:768px) {
    font-size: 34px;
    line-height: 0.91;
  }
  @media screen and(min-width:1279px) {
    font-size: 58px;
    line-height: 0.9;
  }
}
.hero__btn {
  font-size: 8px;
  line-height: 1.25;

  color: $lighten-text-color;

  @media screen and(min-width:1279px) {
    font-size: 14px;
    line-height: 1.29;
  }
}
.hero__btn--darken,
.hero__btn--lighten {
  align-items: center;
  text-align: center;
  border-radius: 20px;
  border: transparent;
  padding: 10px 20px;
}
.hero__btn--darken {
  background-color: $accent-color;
  margin-right: 8px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: #c7133e;
  }

  @media screen and(min-width:1280px) {
    margin-right: 15px;
  }
}
.hero__btn--lighten {
  background-color: $main-color;
  color: $accent-color;
  margin-bottom: 160px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: #ecebeb;
  }
  @media screen and(min-width:768px) {
    margin-bottom: 66px;
  }
  @media screen and(min-width:1279px) {
    margin-bottom: 112px;
  }
}
.hero__btn-link {
  color: $lighten-text-color;
}
.hero__btn-link--second {
  color: $accent-color;
}
.hero__read-more {
  border: transparent;
  border-radius: 50%;
  background-color: $main-color;
  padding: 0;
  margin-left: 134px;
  width: 18px;
  height: 18px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and(max-width:767px) {
    display: none;
  }
  @media screen and(min-width:1280px) {
    margin-left: 180px;
    width: 26px;
    height: 26px;
  }

  &:hover,
  &:focus {
    background-color: $accent-color;
  }
}

.hero__icon {
  fill: $accent-color;
  display: block;
  margin-left: auto;
  margin-right: auto;
  transform: rotate(0);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .hero__read-more:hover &,
  .hero__read-more:focus {
    fill: $lighten-text-color;
    transform: rotate(180deg);
  }
}
.hero__description {
  display: block;
  width: 114px;
  margin-left: 134px;
  margin-bottom: 7px;

  font-size: 8px;
  line-height: 1.5;

  color: $lighten-text-color;
  @media screen and(max-width:767px) {
    display: none;
  }
  @media screen and(min-width:1280px) {
    width: 200px;
    margin-left: 180px;
    font-size: 14px;
    line-height: 1.41;
    margin-bottom: 10px;
  }
}

.hero__images {
  @media screen and(max-width:767px) {
    display: none;
  }
}
.hero__image--first {
  position: absolute;
  top: 245px;
  left: 34px;
  animation-name: changeBgColor;
  animation-duration: 3000ms;
  @media screen and(min-width:1280px) {
    top: 429px;
    left: 77px;
  }

  animation-name: rotate;
  animation-duration: 1000ms;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
}
.hero__image--second {
  position: absolute;
  top: 266px;
  right: 34px;
  @media screen and(min-width:1280px) {
    right: 109px;
    top: 433px;
  }
}
.hero__image--third {
  position: absolute;
  right: -62px;
  top: 83px;
  z-index: -2;
  @media screen and(min-width:768px) {
    right: 137px;
    top: 31px;
  }
  @media screen and(min-width:1280px) {
    right: 267px;
    top: 52px;
  }

  animation-name: opacity;
  animation-duration: 2000ms;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
}
.hero__image--fourth {
  position: absolute;
  z-index: -1;
  right: 32px;
  top: 92px;
  @media screen and(min-width:768px) {
    right: 247px;
    top: 63px;
  }
  @media screen and(min-width:1280px) {
    right: 450px;
    top: 108px;
  }
}

.hero__point--first,
.hero__point--second {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  position: absolute;
  font-family: Titan One;

  font-size: 28px;
  line-height: 1.14;
  text-align: right;
  letter-spacing: 0.04em;

  color: $accent-color;

  @media screen and(max-width:767px) {
    display: none;
  }

  @media screen and(min-width:1280px) {
    font-size: 46px;
    line-height: 1.15;
  }
}

.hero__point--first {
  top: 96px;
  right: 44px;
  z-index: 2;
  @media screen and(min-width:1280px) {
    top: 160px;
    right: 115px;
  }
}
.hero__point--second {
  top: 152px;
  right: 42px;
  z-index: 2;
  @media screen and(min-width:1280px) {
    top: 251px;
    right: 115px;
  }
}
.hero-point__description {
  font-size: 8px;
  line-height: 1.25;
  font-family: DM Sans;
  color: $lighten-text-color;
  @media screen and(min-width:1280px) {
    font-size: 14px;
    line-height: 1.29;
  }
}
.hero__circle {
  position: absolute;
  width: 18px;
  height: 18px;
  top: 94px;
  right: 34px;
  @media screen and(max-width:767px) {
    display: none;
  }
  @media screen and(min-width:1280px) {
    width: 30px;
    height: 30px;
    top: 156px;
    right: 97px;
  }
}
.hero__circle--second {
  top: 151px;
  @media screen and(min-width:1280px) {
    top: 248px;
  }
}
.menu-toggle {
  display: block;
  border: none;
  outline: none;
  background-color: transparent;

  margin-left: auto;
  padding: 0;

  @media screen and(min-width:1280px) {
    display: none;
  }
}
.menu-toggle__burger {
  stroke: $accent-color;
  transition: stroke 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .menu-toggle:hover &,
  .menu-toggle:focus & {
    stroke: $lighten-text-color;
  }
}
.menu-container {
  position: absolute;
  top: 0;
  right: 0;
  width: 250px;
  height: 100vh;
  background-color: #e17992;

  z-index: 4;

  @media screen and(min-width:768px) {
    width: 254px;
  }
  @media screen and(min-width:1280px) {
    display: none;
  }
  transform: translateX(100%);
  transition: transform 250ms linear;
}
.menu-container.is-open {
  transform: translateX(0);
}

.menu-container__btn {
  border-radius: 22px;
  border: transparent;
  padding: 10px 0;
  width: 209px;
  margin-left: 20px;
  margin-bottom: 19px;
  background-color: $main-color;
  color: $accent-color;

  height: 44px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.31;
  display: flex;
  align-items: center;

  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and(min-width:768px) {
    width: 186px;
    margin-left: 34px;
  }

  &:hover,
  &:focus {
    background-color: #ecebeb;
  }
}
.header__icon,
.mobile-menu__icon {
  stroke: $accent-color;
  margin-left: 14px;
}
.menu-toggle__cross {
  stroke: $lighten-text-color;
  margin-right: 28px;
  margin-top: 23px;
  margin-bottom: 23px;
  transition: stroke 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .menu-toggle:hover &,
  .menu-toggle:focus & {
    stroke: $accent-color;
  }

  @media screen and(min-width:768px) {
    margin-right: 34px;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);

  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);

  z-index: 5;
  overflow-y: scroll;
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  left: 50%;
  top: 50%;

  padding: 40px;
  height: 609px;

  .button__backdrop.is-hidden & {
    transform: translate(-50%, -50%), scale(0.9);
  }
  background-color: #ffffff;
  border-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);

  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (max-width: 767px) {
    width: calc(100% - 30px);
    max-width: 450px;
  }
  @media screen and (min-width: 768px) and (max-width: 1279px) {
    width: 450px;
  }

  @media screen and (min-width: 1280px) {
    width: 528px;
    height: 620px;
  }
}
.modal__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;

  color: $accent-color;
  margin-bottom: 30px;

  @media screen and(min-width:1280px) {
    line-height: 1.15;
  }
}
.modal__btn {
  position: absolute;
  width: 30px;
  height: 30px;

  border: 1px solid $accent-color;
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;
  top: 8px;
  right: 8px;
  cursor: pointer;
  background-color: transparent;
}
.modal__icon {
  width: 18px;
  height: 18px;
  transition: stroke 250ms cubic-bezier(0.4, 0, 0.2, 1);
  stroke: $main-text-color;

  .modal__btn:hover &,
  .modal__btn:focus & {
    stroke: $accent-color;
  }
}
.form__label {
  position: absolute;
  top: 20px;
  left: 20px;
  transform: translate(0, -50%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  letter-spacing: 0.01em;
  font-size: 12px;
  line-height: 1.17;
  color: $main-text-color;

  .form__input:focus + &,
  .form__input:not(:placeholder-shown) + & {
    transform: translate(-20px, -40px);
    color: $accent-color;
  }
}

.form__field {
  display: block;
  position: relative;
  margin-bottom: 20px;
}

.form__input {
  padding: 0;
  padding-left: 42px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:focus {
    border: 1px solid $accent-color;
    outline: none;
  }
}
.form__input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  cursor: pointer;
}

.fieldset {
  padding: 20px;
  margin-bottom: 21px;
}
.fieldset__title {
  color: $accent-color;
}
.form__field-checkbox {
  display: block;
  margin-bottom: 20px;
  &:last-child {
    margin-bottom: 0px;
  }
}
.form__checkbox {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.form__checkbox-input {
  width: 20px;
  height: 20px;
}
.form__size {
  color: $accent-color;
}
.form__size-item {
  margin-bottom: 20px;
}
.form__textarea {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  cursor: pointer;
  resize: none;
  padding: 12px 16px;

  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  vertical-align: top;

  &::placeholder {
    line-height: 1.14;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
  }
  &:focus {
    border: 1px solid $accent-color;
    outline: none;
  }
}
.form__item--static {
  display: flex;
  color: $accent-color;
}

.form__submit {
  width: 200px;
  height: 50px;
  display: block;
  margin-left: auto;
  margin-right: auto;

  background-color: $accent-color;
  color: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: $accent-color;
}

@keyframes rotate {
  0% {
    transform: rotate(-20deg);
  }

  100% {
    transform: rotate(20deg);
  }
}
@keyframes opacity {
  0% {
    opacity: 0.3;
  }
  50% {
    opacity: 0.6;
  }

  100% {
    opacity: 1;
  }
}
#more {
  display: none;
}
