.products{
padding-top: 100px;
padding-bottom: 100px;
}
.products__suptitle{
    margin-bottom: 15px;

    color: $section-subtitle-color;
    font-family: Titan One;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.16;
    
    text-align: center;
    text-transform: uppercase;
    @media screen and (min-width: 768px) {
        font-size: 26px;
      }
      @media screen and (min-width: 1200px) {
        font-size: 30px;
      }
}
.products__title{
    margin-bottom: 140px;

    color: $section-title-color;
    font-family: Titan One;
    font-style: normal;
    font-weight: 400;
    font-size: 34px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    @media screen and (min-width: 768px) {
        font-size: 48px;
        margin-bottom: 150px;
      }
      @media screen and (min-width: 1200px) {
        font-size: 58px;
        margin-bottom: 260px;
      }
    }

.products__list{
    @media screen and (min-width: 768px) {
        display: flex;
        flex-basis: calc((100% * 2 - 20px) / 3);
      }
}
.product__item{
  position: relative;
    border-radius: 24px;
    &:not(:last-child){
      margin-bottom: 130px;
      @media screen and (min-width: 768px) {
          margin-bottom: 0;
          margin-right: 20px;
        }
        @media screen and (min-width: 1200px) {
          margin-bottom: 0;
          margin-right: 30px;
        }
  }
    &::before{
        content: " ";
        position: absolute;
        display: block;

        bottom: 22px;
        background-repeat: no-repeat;
        @media screen and (min-width: 320px) {
          width: 252px;
          height: 252px;
          top: -25%;
          left: 5%;
          }
        @media screen and (min-width: 768px) {
          width: 220px;
          height: 233px;
          left: 0;
          }
        @media screen and (min-width: 1200px) {
          width: 335px;
          height: 335px;
          top: -45%;
        }

    }
    &:first-child{
        background-color: $product-card-1;
        &::before{
          @media screen and (min-width: 320px) {
            background-image: url("../images/Products/pic1@1x-320px.png");
          }
            @media screen and (min-width: 768px) {
              background-image: url("../images/Products/pic1@1x-768px.png");
            }
            @media screen and (min-width: 1200px) {
              background-image: url("../images/Products/pic1@1x-1200px.png");
            }
        }
    }
    &:nth-child(2){
        background-color: $product-card-2;
        &::before{
          @media screen and (min-width: 320px) {
            background-image: url("../images/Products/pic2@1x-320px.png");
          }
            @media screen and (min-width: 768px) {
              background-image: url("../images/Products/pic2@1x-768px.png");
            }
            @media screen and (min-width: 1200px) {
              background-image: url("../images/Products/pic2@1x-1200px.png");
            }
        }
    }
    &:last-child{
        background-color: $product-card-3;
        &::before{
          @media screen and (min-width: 320px) {
            background-image: url("../images/Products/pic3@1x-320px.png");
          }
            @media screen and (min-width: 768px) {
              background-image: url("../images/Products/pic3@1x-768px.png");
            }
            @media screen and (min-width: 1200px) {
              background-image: url("../images/Products/pic3@1x-1200px.png");
            }
        }
    }
    }
.product-card{
    @media screen and (min-width: 320px) {
      padding: 40px;
      padding-top: 160px;
    }
    @media screen and (min-width: 768px) {
      padding: 40px 10px;
      padding-top: 150px;
    }
    @media screen and (min-width: 1200px) {
      padding: 50px 44px;
      padding-top: 160px;
    }
}
.product-card__title{
    color: $lighten-text-color;
    font-family: Titan One;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.15;

    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    @media screen and (min-width: 1200px) {
        font-size: 30px;
      }
    }

.product-card__span{
    display: block;
    margin-bottom: 30px;
    font-size: 50px;
    text-align: center;
    color: $lighten-text-color;
}
.product-card__description{
    margin-bottom: 30px;

    color: $lighten-text-color;
    font-family: DM Sans;
    font-style: normal;
    font-weight: 900;
    font-size: 14px;
    line-height: 1.5;

    text-align: center;
    letter-spacing: 0.04em;

    @media screen and (min-width: 1200px) {
        font-size: 16px;
      }
    }
.product-card__button{
    display: flex;
    margin: 0 auto;
    width: 40px;
    height: 40px;

    background-color: $main-color;
    background-image: url("../images/Products/arrow-right@1x.png");
    border: none;
    border-radius: 50%;
    }
.products__item--icon{

    }

    .container {
        @media screen and (min-width: 320px) {
            width: 320px;
            padding: 0 20px;
            margin: 0 auto;
          }
          @media screen and (min-width: 768px) {
            width: 768px;
            padding: 0 34px;
          }
          @media screen and (min-width: 1200px) {
            width: 1280px;
            padding: 0 115px;
          }
    }


    // position: absolute;
    // width: 100%;
    // top: -35%;
    // left: -52%;
    // transform: translate(50%, 50%);
    // height: 335px;